node_modules/
build/*
dist/*.node
auto*.gypi
*.ts
!*.d.ts
*.log.*
*.log
*.tgz
download
*.zim
.idea
.vscode
*.tmp
*.idx
.editorconfig
.travis.yml
node-libzim.iml
release.sh
_misc
dev
.github/FUNDING.yml
.clang-format
CPPLINT.cfg
tslint.json
.env